body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

/* background */
.rectangle {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #0D174D;
    z-index: -2;
}

/* navbar */
.position-nav {
    transform: translateX(300px);
}

.navbar-nav a {
    font-size: 18px;
    margin: 11px;
}

/* hero */
.hero h1 {
    margin-top: 30%;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
    color: #A1A7CE;
    /* transform: translateY(-120px); */
}

.btn-price {
    background-color: #1ABC9C;
    color: #ffffff;
    width: 197px;
    height: 50px;
    padding: 13px 6px 36px;
    margin-top: 58px;
}

.figure-img {
    width: 530px;
    height: 530px;
    transform: translateY(30px);
}

.figure-caption {
    margin-top: 30px;
    transform: translateX(95px);
    font-size: 14px;
}

.btn-arrow {
    transform: translate(330px, -49px);
}

.btn-arrow img {
    width: 100px;
    height: 50px;
}

.banner {
    width: 328px;
    height: 60px;
}

.banner .btn-icon {
    background-color: #4D5991;
}

.banner .btn-text {
    background-color: #323F81;
    color: #ffffff;
}

.banner .btn-text p {
    font-size: 16px;
    color: #757C9B;
}